In [72]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

#Pull in data source
spotify = "data.csv"

spotify_data = pd.read_csv(spotify)

#Simplify the dataset to year, artists, and popularity
cleaned_df = spotify_data[["popularity","year","artists"]]
cleaned_df

        popularity  year                                            artists
0                4  1921  ['Sergei Rachmaninoff', 'James Levine', 'Berli...
1                5  1921                                     ['Dennis Day']
2                5  1921  ['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...
3                3  1921                                   ['Frank Parker']
4                2  1921                                     ['Phil Regan']
...            ...   ...                                                ...
170648          72  2020  ['Anuel AA', 'Daddy Yankee', 'KAROL G', 'Ozuna...
170649          68  2020                                       ['Ashnikko']
170650          76  2020                                        ['MAMAMOO']
170651          70  2020                                         ['Eminem']
170652          74  2020                              ['KEVVO', 'J Balvin']

[170653 rows x 3 columns]

In [73]:
#Clean artists column by deleting brackets and quotations
cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\[","")
cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\]","")
cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\"","")
cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\'","")

cleaned_df

C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\[","")
C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\[","")
C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\]","")
C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\]","")
C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\"","")
C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\"","")
C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\'","")
C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\4187958532.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['artists'] = cleaned_df['artists'].str.replace(r"\'","")

        popularity  year                                            artists
0                4  1921  Sergei Rachmaninoff, James Levine, Berliner Ph...
1                5  1921                                         Dennis Day
2                5  1921  KHP Kridhamardawa Karaton Ngayogyakarta Hadini...
3                3  1921                                       Frank Parker
4                2  1921                                         Phil Regan
...            ...   ...                                                ...
170648          72  2020   Anuel AA, Daddy Yankee, KAROL G, Ozuna, J Balvin
170649          68  2020                                           Ashnikko
170650          76  2020                                            MAMAMOO
170651          70  2020                                             Eminem
170652          74  2020                                    KEVVO, J Balvin

[170653 rows x 3 columns]

In [74]:
#Split the multiple artists into different column
mult_artist = pd.DataFrame(cleaned_df['artists'].tolist()).fillna('').add_prefix('artist_')
cleaned_artist = pd.concat([cleaned_df, mult_artist], axis=1)

cleaned_artist = [['year', 'popularity', 'artist_0', 'artist_1', 'artist_2', 'artist_3', 'artist_4', 'artist_5', 'artist_6'
                  , 'artist_7', 'artist_8', 'artist_9', 'artist_10']]

In [64]:
# Establish the bins.
decade_bins = [1921, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]
labels = ["20s", "30s", "40s", "50s", "60s", "70s", "80s", "90s", "2000s", "2010s"]

In [65]:
# Use "pd.cut" to categorize popularity based on the bins.
cleaned_df["Decade"] = pd.cut(cleaned_df["year"], decade_bins, labels=labels, include_lowest=True)
cleaned_df.head()

C:\Users\seagun.lee\AppData\Local\Temp\ipykernel_21100\883605668.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df["Decade"] = pd.cut(cleaned_df["year"], decade_bins, labels=labels, include_lowest=True)

   popularity  year                                            artists Decade
0           4  1921  Sergei Rachmaninoff, James Levine, Berliner Ph...    20s
1           5  1921                                         Dennis Day    20s
2           5  1921  KHP Kridhamardawa Karaton Ngayogyakarta Hadini...    20s
3           3  1921                                       Frank Parker    20s
4           2  1921                                         Phil Regan    20s

In [66]:
# Group by the artists in every decade who is the most popular artists in each decades in spotify
decade_artist = pd.DataFrame(cleaned_df.groupby(["artists", "year"]).mean()["popularity"])
decade_artist

                             popularity
artists                year
$NOT                   2018        60.0
                       2020        74.0
$NOT, Flo Milli        2020        68.0
$NOT, Maggie Lindemann 2020        76.0
$NOT, Night Lovell     2020        67.0
...                                 ...
黃品源                    1990        48.0
黃國隆                    1963        23.0
黃國隆, 王秋玉               1963        23.0
黑豹                     1992        35.0
조정현                    1989        31.0

[58235 rows x 1 columns]

In [25]:
# Establish the bins.
#decade_bins = [1921, 1930, 1940, 1950, 1960, 1970, 1980, 1990, 2000, 2010, 2020]
#labels = ["20s", "30s", "40s", "50s", "60s", "70s", "80s", "90s", "2000s", "2010s"]

In [26]:
# Use "pd.cut" to categorize popularity based on the bins.
#decade_artist["Decade"] = pd.cut(decade_artist["year"], decade_bins, labels=labels, include_lowest=True)
#decade_artist.head()